/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/


/*
* Products
*
*
*/

.product-header {

}
.product-content {

}
.product-title {
	color: #FFFFFF;
	font-weight:100;
}
.product-subtitle {
  color: #FFFFFF;
	font-weight:100;

}
.product-btn {

}
