/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/


/*
* Section Header
*
*
*/

.sectionheader {

  background-color: none;
  border-bottom:none;

}

.page-dashboard .page-dashboard-second
.sectionheader-subtitle {
  color: #fff;
}

.sectionheader-title {
    color: #fff;
}
.sectionheader-subtitle {
  color: #fff;
}
.sectionheader-avatar {

}
