/* ==========================================================================
   Templategrid

   Default Mendix Templategrid Widget. The template grid shows a list of objects in a tile view. For example, a template grid can show a list of products. The template grid has a lot in common with the data grid. The main difference is that the objects are shown in templates (a sort of small data view) instead of rows
========================================================================== */
.mx-templategrid {
	/* Styles here */
	.mx-templategrid-item {
		border:none;
		padding: 8px 8px 8px 8px;
		cursor: default;
		background-color:rgba(44, 44, 44, 0.49);
		&:hover {
			background-color: rgba(255, 255, 255, 0.22)!important;
		}
		&.selected {
			background-color:rgba(255, 255, 255, 0.37) !important;
			&:hover {
				background-color: rgba(255, 255, 255, 0.22)!important;
			}
		}
	}
}


// ==========================================================================
// Templategrid Hover
//
// Default Mendix Templategrid Widget Hover
// ==========================================================================
.templategrid-hover.mx-templategrid {
	.mx-templategrid-item {
		&:hover {
			
		}
	}
}


// ==========================================================================
// Templategrid Selectable
//
// Default Mendix Templategrid Widget with selection enabled
// ==========================================================================
.templategrid-selectable.mx-templategrid {
	.mx-templategrid-item {
		
	}
}


// ==========================================================================
// Templategrid Lined
//
// Default Mendix Templategrid Widget with borders between items
// ==========================================================================
.templategrid-lined.mx-templategrid {
	.mx-grid-content {

	}
	.mx-templategrid-item {
		color: #B2B3B3;
		background-color: rgba(0, 0, 0, 0.22);
		padding: 8px 8px 8px 8px;
		cursor: default;
		border-left: none;
		border-right: none;
		border-top: 1px solid rgba(221, 221, 221, 0.17);
		border-bottom: 1px solid rgba(221, 221, 221, 0.24);
	}
}



// ==========================================================================
// Templategrid Striped
//
// Default Mendix Templategrid Widget with background between items
// ==========================================================================
.templategrid-striped.mx-templategrid {
	.mx-templategrid-row:nth-child(odd) .mx-templategrid-item {
		background-color: rgba(27, 27, 27, 0.3);
	}
}


// ==========================================================================
// Templategrid Stylingless
//
// Default Mendix Templategrid Widget without styling
// ==========================================================================
.templategrid-stylingless.mx-templategrid {
	.mx-templategrid-item {


		&:hover {

		}
		&.selected {

			&:hover {

			}
		}
	}
}


// ==========================================================================
// Templategrid Transparent
//
//  Default Mendix Templategrid Widget without background and padding in items
// ==========================================================================
.templategrid-transparent.mx-templategrid {
	.mx-templategrid-item {

	}
}
