/* ==========================================================================
   Special styles for presenting Page Template Dashboard
========================================================================== */
.page-dashboard {
	background-color: $bg-color-secondary;
	background-color: #eff4f7;
	background-image: url(../../../img/background.jpg);
	background-size: cover;
	background-position: top center;
	.chartjs-node {
		/* Styles Here */
	}
}
.page-dashboard-default {
	.card {
		/* Styles Here */
	}
}
.page-dashboard-mytasks {
	.card {
		/* Styles Here */
	}
}
.page-dashboard-actions {
	.card {
		 .btn-primary {
			margin-top: -100px;
		}
		.btn-default {
			margin-top: -100px;
		}
	}
}
