/* ==========================================================================
   Regions

   Used for navigation layouts
========================================================================== */
.region-topbar {
	border-style: none;
	> .mx-layoutcontainer-wrapper {
		/* Styles here */
	}
}
.region-sidebar {
	/* Styles here */
	> .mx-layoutcontainer-wrapper {
		/* Styles here */
	}
}
.region-content {
	/* Styles here */
	> .mx-layoutcontainer-wrapper {
		/* Styles here */
	}
}
.region-footer {
	/* Styles here */
	> .mx-layoutcontainer-wrapper {
		/* Styles here */
	}
}
.layout-sidebar-responsive {
	.region-sidebar-fixed {
		background: $color-sidebar-bg;
	}
}
.navlayout-topbar .region-topbar .mx-navbar {
	background-color: transparent;
}

/* ==========================================================================
   Navbar Brand

   Used to style your app brand and logo
========================================================================== */
.navbar-brand {
	padding: 31px 45px;
	margin-left: -22px;
	img {
		height: 25px;
		margin-right: 10px;
		content: url(../../../img/logo.png);
		vertical-align: middle;
	}
	a {
		color: #fff;
		font-size: 14px;
		font-weight: 100;
		&:hover,
		&:focus {
			/* Styles here */
		}
	}
}
.profile-tablet .navbar-brand {
	padding: 32px 25px;
}
